<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis">

	<!-- <cache/> 表示此mapper开启二级缓存 
	type：指定cache接口的实现类的类型，mybatis默认使用PerpetualCache，
	要和ehcache整合，需要配置type为ehcache实现cache接口的类型：
	org.apache.ibatis.cache.decorators.LoggingCache
	org.mybatis.caches.ehcache.EhcacheCache
	两个都行，可以在整合的jar包中找到，都实现了Cache接口
	-->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	
	<select id="selectUserByID" parameterType="int" resultType="User">
		SELECT * FROM user where id = #{id}
	</select>

	<!-- useCache="false" 关闭当前查询的缓存，默认为true -->
	<select id="selectList" parameterType="java.lang.String"
		resultType="java.util.Map" useCache="false">
		${value}
	</select>
</mapper>
